/* Sacralium Colors */

/* Базовые цвета */
$color_black = #000
$color_white = #FFF
$color_gray = #767676
$color_red = #810000
$color_green = #548800
$color_blue = #005291


/* body & globals */
$color_background = #f9f9f9

$color_text = rgba(0,0,0,.9)
$color_textGray = rgba(0,0,0,.55)


/* Ссылки */
$color_link = $color_blue


/* Статусы */
$color_error = $color_red
$color_success = $color_green


/* Элементы управления (inputs) */
$color_labelText = $color_textGray
