/* Sacralium Z-index layers */

/* слой локальных элементов, таких как тултипы, списки опций в селектбоксах и т.п. */
$zindex_local = 1000

// Окно чата
$zindex_chat = 3000

// Окно блока с изменяемым размером (сейчас в нем лог боя)
$zindex_resizeableBlock = 2900

/* слой всплывающих окон */
$zindex_modal = 5000




