/* Sacralium StoryBook styles */

.sb
  &-page
    display block
    height 320px
    min-height 100vh
    box-sizing border-box

    &_withPaddings
      padding 20px
  
  &-head
    margin 0 0 15px

  &-flex
    display flex

    &_center
      justify-content center

    &_middle
      align-items center

    &_space-between
      justify-content space-between

  &-version
    padding 20px 0
    border-bottom 1px dashed rgba(0,0,0,.05)

    &__head
      margin 0 0 20px

      font-size 16px
      font-weight bold
      color rgba(0,0,0,.75)

  &__frame
    padding 20px
